@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700&display=swap');


header {
  padding: 25px 0;
  background-color: #343a40;
  font-family: 'Nunito Sans', sans-serif;
}

.wrapper {
  width: 80%;
  margin: auto;


  display: flex;
  justify-content: space-between;
  align-items: center;
}




a {
  font-size: 18px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  margin-right: 30px;
}

a:hover {
  text-decoration: none;
}

.left-nav {
  display: flex;
  align-items: center;
}

.right-nav {
  color: aliceblue;
}
