.product-card {
  border: 1px solid lightgray;
  margin: 0 15px 20px 15px;
  padding: 15px;
}

.product-card img {
  width: 100%;
}

.reviews {
  display: flex;
  align-items: center;
}

.material-icons {
  color: gold;
  font-size: 20px;
}

.product-info {
  font-family: 'Nunito Sans', sans-serif;
  padding: 15px;
}

.name {
  font-size: 16px;
}

.name:hover {
  text-decoration: underline;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

img,
p {
  cursor: pointer;
}



@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700&display=swap');
