.wrapper {
  display: flex;
  font-weight: 200;
}

.material-icons {
  font-size: 18px;
  color: #a8a899;
}


a {
  color: #a8a899;
  display: flex;
}

a:hover {
  text-decoration: none;
  color: white;
}



.cart {
  margin-right: 20px;
}

.center {
  display: flex;
  align-items: center;
}

.nav-item {
  font-weight: 500;
}
