.wrapper {
  display: flex;

}

.material-icons {
  size: 10px;
  color: #a8a899;
}

a {
  color: #a8a899;

}

a:hover {
  text-decoration: none;
}

.cart {
  margin-right: 20px;
}

.center {
  display: flex;
  align-items: center;
}
